/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.s-ub-ha-nk-ar-group {
  display: flex;
  background-color: #e6eef3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098); }

.s-ub-ha-nk-ar-group.layout {
  position: relative;
  overflow: hidden;
  min-height: 689px;
  flex-grow: 1; }

.s-ub-ha-nk-ar-subtitle-box.layout {
  position: absolute;
  top: 25px;
  bottom: 630px;
  left: 28px;
  flex-grow: 1;
  right: 28px; }

.s-ub-ha-nk-ar-subtitle {
  font: 700 22px/1.15 "Lato", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }

.s-ub-ha-nk-ar-subtitle-span0 {
  font: 700 1em/1.15 "Lato", Helvetica, Arial, serif;
  color: #0a8d99ff;
  letter-spacing: 0px; }

.s-ub-ha-nk-ar-subtitle-span1 {
  font: 700 1em/1.15 "Lato", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.s-ub-ha-nk-ar-subtitle-span2 {
  font: 700 1em/1.15 "Lato", Helvetica, Arial, serif;
  color: #99095dff;
  letter-spacing: 0px; }

.s-ub-ha-nk-ar-highlights {
  font: 700 15px/1.15 "Lato", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 1.43px; }

.s-ub-ha-nk-ar-highlights.layout {
  position: absolute;
  top: 47px;
  bottom: 624px;
  left: 28px;
  flex-grow: 1;
  right: 28px; }

.s-ub-ha-nk-ar-group1 {
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098);
  border-radius: 30px 30px 30px 30px; }

.s-ub-ha-nk-ar-group1.layout {
  position: absolute;
  top: 0px;
  height: 170px;
  left: 28px;
  flex-grow: 1;
  right: 30px;
  margin: 109px 0px 410px; }

.s-ub-ha-nk-ar-decorator {
  background: var(--src) center center/contain no-repeat;
  border-radius: 18px 18px 18px 18px; }

.s-ub-ha-nk-ar-decorator.layout {
  position: absolute;
  top: 0px;
  height: 170px;
  width: 320px;
  right: -2px; }

.s-ub-ha-nk-ar-image {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }

.s-ub-ha-nk-ar-image1 {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }

.s-ub-ha-nk-ar-image2 {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }

.s-ub-ha-nk-ar-medium-title {
  font: 800 24px/1.15 "Lato", Helvetica, Arial, serif;
  color: #e7eff4;
  letter-spacing: 0px; }

.s-ub-ha-nk-ar-medium-title.layout {
  position: absolute;
  top: 61px;
  bottom: 81px;
  left: 12px;
  flex-grow: 1;
  right: 12px; }

.s-ub-ha-nk-ar-highlights1 {
  font: 700 15px/1.15 "Lato", Helvetica, Arial, serif;
  color: #e7eff4;
  letter-spacing: 0px; }

.s-ub-ha-nk-ar-highlights1.layout {
  position: absolute;
  top: 42px;
  bottom: 110px;
  left: 12px;
  flex-grow: 1;
  right: 12px; }

.s-ub-ha-nk-ar-small-text-body-box.layout {
  position: absolute;
  top: 118px;
  bottom: 40px;
  left: 26px;
  flex-grow: 1;
  right: 26px; }

.s-ub-ha-nk-ar-small-text-body {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 10px/1.15 "Lato", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.s-ub-ha-nk-ar-icon {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }

.s-ub-ha-nk-ar-image3 {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }

.s-ub-ha-nk-ar-cover {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(106, 182, 189, 0.541176));
  border: 1px solid rgba(77, 167, 175, 0.541);
  border-radius: 20px 20px 20px 20px; }

.s-ub-ha-nk-ar-cover.layout {
  position: absolute;
  top: 0px;
  height: 140px;
  left: 0px;
  right: 0px;
  width: 37.23%;
  margin: 326px 55.32% 223px 7.45%; }

.s-ub-ha-nk-ar-icon1 {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }

.s-ub-ha-nk-ar-highlights2 {
  display: flex;
  justify-content: center;
  font: 700 15px/1.15 "Lato", Helvetica, Arial, serif;
  color: #080808;
  text-align: center;
  letter-spacing: 0px; }

.s-ub-ha-nk-ar-highlights2.layout {
  position: absolute;
  top: 426px;
  bottom: 245px;
  left: 0px;
  right: 0px;
  width: 20.21%;
  margin: 0px 63.83% 0px 15.96%; }

.s-ub-ha-nk-ar-icon2 {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }

.s-ub-ha-nk-ar-cover1 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(224, 116, 179, 0.541176));
  border: 1px solid rgba(159, 28, 104, 0.49);
  border-radius: 20px 20px 20px 20px; }

.s-ub-ha-nk-ar-cover1.layout {
  position: absolute;
  top: 0px;
  height: 140px;
  left: 0px;
  right: 0px;
  width: 37.23%;
  margin: 326px 7.45% 223px 55.32%; }

.s-ub-ha-nk-ar-highlights2.layout1 {
  position: absolute;
  top: 426px;
  bottom: 245px;
  left: 0px;
  right: 0px;
  width: 21.81%;
  margin: 0px 15.16% 0px 63.03%; }

.s-ub-ha-nk-ar-cover2 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(224, 116, 179, 0.541176));
  border: 1px solid rgba(161, 35, 108, 0.552);
  border-radius: 20px 20px 20px 20px; }

.s-ub-ha-nk-ar-cover2.layout {
  position: absolute;
  top: 0px;
  height: 140px;
  left: 0px;
  right: 0px;
  width: 37.23%;
  margin: 501px 55.32% 48px 7.45%; }

.s-ub-ha-nk-ar-highlights2.layout2 {
  position: absolute;
  top: 601px;
  bottom: 70px;
  left: 0px;
  right: 0px;
  width: 21.01%;
  margin: 0px 63.43% 0px 15.56%; }

.s-ub-ha-nk-ar-cover.layout1 {
  position: absolute;
  top: 0px;
  height: 140px;
  left: 0px;
  right: 0px;
  width: 37.23%;
  margin: 501px 7.45% 48px 55.32%; }

.s-ub-ha-nk-ar-highlights2.layout3 {
  position: absolute;
  top: 602px;
  bottom: 69px;
  left: 0px;
  right: 0px;
  width: 17.29%;
  margin: 0px 17.42% 0px 65.29%; }

.s-ub-ha-nk-ar-icon3 {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }
